@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    background-color: gainsboro;
}

.row {
    margin-bottom: 0;
}

.username {
    float:right;
    margin-right: 15px;
    font-weight: bold;
    font-size: 16px;
}

.brand-logo img {
    width: 4.4rem;
}

/*Search box*/

.search-input {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

#query {
    width: 50%;
    position: relative;
    margin: 0;
}

.search-btns * {
    height: 100%;
}

.search-btns > button > i {
    display: flex;
    align-items: center;
}

.search-btns > a {
    display: inline-flex;
    align-items: center;
}

.row .col.m4, .row .col.l4{
    width: 31%;
    margin-right: 2%;

}

.card-image > img {
    object-fit: cover;
}

.movie-cards { 
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.background-img img{
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}
/*Movie cards*/
