@import url(https://fonts.googleapis.com/icon?family=Material+Icons&display=swap);

body {
    background-color: white;
    color: black;
    font-family: Tahoma, Verdana, sans-serif;
}

.nav-background{
    color: black;
    background-color: #ffa726 ;
}
.nav-background ul a{
    color: black;
    font-size: 15px;
}
.row {
    margin-bottom: 0;
}

.username {
    float:right;
    margin-right: 30px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.username-mobile {
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 0 32px;
    line-height: 20px;
}

.recently-added {
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Mobile nav*/

.title-margin {
    margin-left: 30px;
}

/*Search box*/

.search-input {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

#query {
    width: 60%;
    position: relative;
    margin: 0;
}

.search-btns * {
    height: 100%;
}

.search-btns {
    margin-left: 10px;
}

.search-btns > button > i {
    display: flex;
    align-items: center;
}

.search-btns > a {
    display: inline-flex;
    align-items: center;
}

.card-image-grid{
    height: 350px;
    overflow: hidden
}

.card-image > img {
    object-fit: cover;
}

.movie-cards, .category-cards { 
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.background-img img{
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}

/*Movie cards*/

.card-background{
    margin-left: 0px!important;
}

.card-background .card-text{
    text-align: left;
    font-size: 18px!important; /*не работает*/
    padding: 15px;
}

.card-reveal-info{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.card-reveal-description{
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.card-image-with-button{
    position: relative;
}

.btn-delete{
    right: 1px!important;
}

.btn-edit{
    right: 45px!important;
}

.flash-modal-content{
    text-align: center;
}

.flash-modal-content p{
    margin-bottom: 0px;
    font-size: 18px;
}

.flash-modal-button{
    text-align: center!important;
}

/*Category buttons*/
.btn-margin{
    margin: 3px 0px 3px 0;
}

/*Category cards*/

.category-name{
    padding: 10px!important;
}

.category-name span{
    margin: 0px!important;
}

.category-action{
    padding: 10px 0px!important;
}

.btn-add{
    margin-bottom: 10px;
}

.user-profile-form{
    margin: 30px 0 30px 0;
}

.card-link{position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:inline-block;    
    z-index: 99999;}

.single-movie-container{
}

.card-sizing{
    float:left;
}

.single-movie-info{
    padding-top: 5px;
    font-size: 16px;
}

/*Changing logo size to be in line with nav bar size*/
@media (min-width: 601px){
    .brand-logo img {
        height: 64px;
    }

    .card-sizing{
        width: 31%;
        margin-right: 2%;
    }
    .category-sizing{
        width: 23%;
        margin-right: 2%;
    }   
}

@media (max-width: 992px){
    .username {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 999px)  {
    .card-sizing{
        width: 48%;
        margin-right: 2%;
    }
    .category-sizing{
        width: 31%;
        margin-right: 2%;
    }

    #query{
        width: 80%;
    }
}

@media (max-width: 600px){
    .brand-logo img {
        height: 56px;
    }

    .card-sizing, .category-sizing{
        width: 100%;
        left: auto;
        right: auto;
    }

    #query{
        width: 80%;
    }

    .category-menu a {
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        padding: 0 12px;
    }

}

@media only screen and (max-width: 420px){
    h3 {
        font-size: 1.5rem;
    }
}