@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    background-color: white;
    color: black;
    font-family: Tahoma, Verdana, sans-serif;
}

.nav-background{
    color: black;
    background-color: #ffa726 ;
}
.nav-background ul a{
    color: black;
    font-size: 15px;
}
.row {
    margin-bottom: 0;
}

.username {
    float:right;
    margin-right: 15px;
    font-weight: bold;
    font-size: 16px;
}

/*Changing logo size to be in line with nav bar size*/
@media (min-width: 601px){
    .brand-logo img {
        height: 64px;
      }
    }
    
@media (max-width: 600px){
.brand-logo img {
    height: 56px;
    }
}
/*Search box*/

.search-input {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}

#query {
    width: 50%;
    position: relative;
    margin: 0;
}

.search-btns * {
    height: 100%;
}

.search-btns > button > i {
    display: flex;
    align-items: center;
}

.search-btns > a {
    display: inline-flex;
    align-items: center;
}

.row .col.m4, .row .col.l4{
    width: 31%;
    margin-right: 2%;

}

.card-image > img {
    object-fit: cover;
}

.movie-cards { 
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }

.background-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.background-img img{
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%
}

/*Movie cards*/

.card-padding .card-background{
    padding:0;
}

.card-background{
    margin-left: 0px!important;
}

.card-background .card-name{
    padding: 5px;
}
.card-reveal-info{
    font-size: 16px;
    font-weight: 400px;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.card-reveal-description{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    margin: 10px 0 10px 0;
}

.card-overflow{
    overflow: inherit;
}

.btn-delete{
    right: 1px!important;
}

.btn-edit{
    right: 45px!important;
}

.flash-modal-content{
    text-align: center;
}

.flash-modal-content p{
    margin-bottom: 0px;
    font-size: 18px;
}

.flash-modal-button{
    text-align: center!important;
}

/*Category buttons*/
.btn-margin{
    margin: 3px 0px 3px 0;
}

/*Category cards*/

.category-card .category-name{
    padding: 5px;
}

.category-card .category-action{
    padding: 5px 0px;
}

.btn-add{
    margin-bottom: 10px;
}