{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align">Edit Movie</h3>
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_movie', movie_id=movie._id) }}">
            <!-- movie name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="movie_name" name="movie_name" minlength="4" maxlength="60"
                    value="{{ movie.movie_name }}" type="text" class="validate" required>
                    <label for="movie_name">Movie Name</label>
                </div>
            </div>
            <!-- movie URL link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-film prefix"></i>
                    <input id="movie_link" name="movie_link" value="{{ movie.movie_link }}" type="text" class="validate" required>
                    <label for="movie_link">Movie URL</label>
                </div>
            </div>
            <!-- category selection -->
            <div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == movie.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                        {% endfor %}
                    </select>
					<label for="category_name">Movie Category</label>
				</div>
			</div>
            <!-- movie description -->    
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="movie_description" name="movie_description" minlength="10"
                        class="materialize-textarea validate" required>
                        {{- movie.movie_description -}}
                    </textarea>
                    <label for="movie_description">Movie Description</label>
                </div>
            </div>            
            <!-- year --> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix"></i>
                    <input class="datepicker validate" value="{{ movie.year }}" type="number" id="year" name="year" min="1900" max="2100" required>
                    <label for="year">Year</label>
                </div>
            </div>
            <!-- movie duration -->    
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clock prefix"></i>
                    <input id="movie_duration" name="movie_duration" type="number" min="1" value="{{ movie.movie_duration }}" class="validate" required>
                    <label for="movie_duration">Duration</label>
                </div>
            </div>  
            <!-- book store url link -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix"></i>
                    <input id="book_link" name="book_link" type="text" value="{{ movie.book_link }}" class="validate" required>
                    <label for="book_link">Book store URL</label>
                </div>
            </div>
            <!-- movie image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix"></i>
                    <input id="movie_image" name="movie_image" minlength="10" maxlength="30"
                    value="{{ movie.movie_image }}" type="text" class="validate">
                    <label for="movie_image">Movie Image URL (optional)</label>
                </div>
            </div>

         <!-- submit and cancel buttons -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn cyan lighten-1 black-text">Submit</button>
                    <a href="{{ url_for('movie_page') }}" class="btn red lighten-1 black-text">Cancel</a>
                </div>
            </div>  
        </form>
    </div>
</main>
{% endblock %}