{% extends "base.html" %} 
{% block content %}

<!--Home page image-->
<div class="background-img">
    <img src="{{ url_for('static', filename='images/background-img.jpg') }}" alt="movie and books" />
</div>

<main class="container">
    <h3 style="text-decoration: underline;" class="center-align">Welcome to Movie Collection</h3>
    <p class="center-align">
        Here you can get and share movies based on your favourite books and get links to find them. <br />
        {% if not session.user %}
            To add movies and get access to your personal information please <a href="{{ url_for('sign_up') }}">Sign Up</a><br />
            Already registered? <a href="{{ url_for('sign_in') }}">Sign In</a>
        {% endif %}
    </p>
    <h3 class="recently-added center-align">Recently added movies</h3>
    <!--Movie cards-->

    <div class="row">
        <ul class="movie-cards">
            {% for movie in recently_added_movies %}
            <li class="card-sizing card card-background center-align">
                <div class="card-image-with-button">
                    <div class="card-image card-image-grid waves-effect waves-block waves-light">
                        <img class="activator" src="{{ movie.movie_image }}" onerror="this.onerror=null;this.src= &#34; {{ url_for('static', filename='images/movie_icon.jpg') }} &#34; ;" alt="movie_image" />
                    </div>
                    <a class="btn-floating halfway-fab waves-effect waves-light cyan darken-1" href="{{url_for('single_movie_page', movie_id=movie._id)}}"><i class="material-icons">open_in_new</i></a>
                </div>
                <div class="card-content card-name">
                    <span class="card-title title-bottom activator">{{ movie.movie_name }}</span>
                </div>
                <div class="card-reveal card-text">
                    <div class="card-title">
                        <i class="material-icons right">close</i>
                        <strong><a href="{{ movie.movie_link }}" target="_blank" rel="noopener noreferrer">{{ movie.movie_name }}</a></strong> <br />
                        <br />
                        <p class="card-reveal-info"><i class="fas fa-theater-masks prefix cyan-text lighten-1"></i> {{ movie.category_name }}</p>
                        <p class="card-reveal-info"><i class="fas fa-calendar-alt prefix cyan-text lighten-1"></i> {{ movie.year }}</p>
                        <p class="card-reveal-info"><i class="fas fa-clock prefix cyan-text lighten-1"></i> {{ movie.movie_duration }} min</p>
                        <p class="card-reveal-info">
                            <i class="fas fa-book prefix cyan-text lighten-1"></i>
                            <a href="{{ movie.book_link }} " class="collection-item" target="_blank" rel="noopener noreferrer">Book link</a>
                        </p>
                        {% if movie.movie_link %}
                        <p class="card-reveal-info">
                            <i class="fas fa-film prefix cyan-text lighten-1"></i>
                            <a href="{{ movie.movie_link }} " class="collection-item" target="_blank" rel="noopener noreferrer">Movie link</a>
                        </p>
                        {% endif %}
                        <p class="card-reveal-description">{{ movie.movie_description }}</p>
                        <p class="card-reveal-info"><em>added by: {{ movie.created_by }}</em></p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}