{% extends "base.html" %}
{% block content %}

<!--Home page image-->
<div class="background-img">
    <img src="{{ url_for('static', filename='images/background-img.jpg') }}" alt="movie and books">
</div>

<main class="container">
    <h3 class="recently-added center-align">Recently added movies</h3>
    <!--Movie cards-->
    
    <div class="row">
        <ul class="movie-cards">
            {% for movie in recently_added_movies %}
            <li class="card-sizing card card-background center-align">
                <a href="{{url_for('single_movie_page', movie_id=movie._id)}}"" class="card-link"></a>
                <div class="card-image waves-effect waves-block waves-light card-overflow">
                    {% if not movie.movie_image or movie.movie_image == "" %}
                    <img class="activator" src="{{ url_for('static', filename='images/movie-icon.png') }}">
                    {% else %}
                    <img class="activator" src="{{ movie.movie_image }}">
                    {% endif %}
                </div>
                <div class="card-content card-name">
                    <span class="card-title title-bottom activator">{{ movie.movie_name }}</span>
                </div>
            </li>  
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}