{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align">All Movies</h3>
    <!--Search Box-->
    <form class="search-input" action="{{ url_for('search') }}" method="POST">
        <input type="search" placeholder="Enter movie name or category" name="query" id="query">
        <div class="search-btns">
            <button type="submit" class="waves-effect waves-light btn cyan lighten-1 black-text"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <div class="category-menu center-align">
        <!--Categories Menu -->
        {% if request.path == url_for('movie_page') %}
            {% set category_class = "waves-effect waves-light btn cyan accent-1 black-text btn-margin" %}
        {% else %}
            {% set category_class = "waves-effect waves-light btn cyan lighten-1 black-text btn-margin" %}
        {% endif %}
        <a class="{{ category_class }}" href="{{ url_for('movie_page') }}" >All movies</a>
        
        {% for category in categories %}
            {% if request.path == url_for('movie_page_filtered', category=category.category_name) %}
                {% set category_class = "waves-effect waves-light btn cyan accent-1 black-text btn-margin" %}
            {% else %}
                {% set category_class = "waves-effect waves-light btn cyan lighten-1 black-text btn-margin" %}
            {% endif %}
            <a class="{{ category_class }}" href="{{url_for('movie_page_filtered', category=category.category_name)}}">{{ category.category_name }}</a>
        {% endfor %}
    </div>
    {% if request.path == url_for('search') %}
        <p class= "center-align"> You searched for <i>{{search_str}}</i></p>
    {% endif %}
    {% if movies|length > 0 %}
    <!--Movie cards-->
    <div class="row">
        <ul class="movie-cards">
            {% for movie in movies %}
            <li class="card-sizing card card-background center-align">
                <div class="card-image waves-effect waves-block waves-light card-overflow">
                    {% if not movie.movie_image or movie.movie_image == "" %}
                    <img class="activator" src="{{ url_for('static', filename='images/movie-icon.png') }}">
                    {% else %}
                    <img class="activator" src="{{ movie.movie_image }}">
                    {% endif %}

                    {% if session.user|lower == movie.created_by|lower %}
                    <a class="btn-edit btn-floating halfway-fab waves-effect waves-light cyan lighten-1" href="{{url_for('edit_movie', movie_id=movie._id)}}"><i class="material-icons black-text">edit</i></a>
                    <!-- Delete Modal -->
                    <a class="btn-delete modal-trigger btn-floating halfway-fab waves-effect waves-light red lighten-1" href="#modal{{movie._id}}"><i class="material-icons black-text">delete</i></a>
                    {% endif %}

                </div>
                <div class="card-content card-name">
                    <span class="card-title activator">{{ movie.movie_name }}</span>
                    <div id="modal{{movie._id}}" class="modal">
                        <div class="modal-content">
                        <h5>Are you sure want to delete this movie?</h5>
                        </div>
                        <div class="modal-footer">
                        <a href="{{ url_for('delete_movie', movie_id=movie._id) }}" class="modal-close btn cyan lighten-1 black-text">Yes</a>
                        <a href="#!" class="modal-close btn-flat red lighten-1 black-text">No</a>
                        </div>
                    </div>
                </div>
                <div class="card-reveal card-text">
                <span class="card-title"><i class="material-icons right">close</i>
                    <strong><a href="{{ movie.movie_link }}" target="_blank">{{ movie.movie_name }}</a></strong> <br><br>
                    <p class="card-reveal-info"><i class="fas fa-theater-masks prefix cyan-text lighten-1"></i> {{ movie.category_name }}</p>
                    <p class="card-reveal-info"><i class="fas fa-calendar-alt prefix cyan-text lighten-1"></i> {{ movie.year }}</p>
                    <p class="card-reveal-info"> <i class="fas fa-clock prefix cyan-text lighten-1"></i> {{ movie.movie_duration }} min</p>
                    <p class="card-reveal-info"><i class="fas fa-book prefix cyan-text lighten-1"></i> 
                                                <a href="{{ movie.book_link }} " class="collection-item" target="_blank">Book link</a></p>
                    <p class="card-reveal-description">{{ movie.movie_description }}</p>
                    <p class="card-reveal-info"><em>added by: {{ movie.created_by }}</em></p>
                </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
</main>
{% endblock %}