{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Movies</h3>

    <ul class="collapsible">
        {% for movie in movies %}
        <li>
            <div class="collapsible-header">
                {{ movie.movie_name }}
                <i class="far fa-arrow-alt-circle-down tooltipped" data-position="bottom" data-tooltip="See more"></i>
            </div>
            <div class="collapsible-body">
                <span>
                <strong>Category: </strong>{{ movie.category_name }}<br>
                <strong>Year: </strong>{{ movie.year }}<br>
                <strong>Duration: </strong>{{ movie.movie_duration }}<br>
                <strong>Book link: </strong>{{ movie.book_link }}<br>
                <strong>Description: </strong>{{ movie.movie_description }}<br>
                <p><em>by: {{ movie.created_by }}</em></p>
                </span>
            </div>
        </li>
        {% endfor %}
  </ul>

{% endblock %}