{% extends "base.html" %}
{% block content %}
<main class="container">
    <h3 class="center-align">Sign Up</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">

            <!-- username -->
            <div class="row">
                <div class="input-field  col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="username" name="username" type="text" minlength="3"
                        maxlength="10" pattern="^[a-zA-Z0-9]{3,10}$" class="validate" required>
                <label for="username">Username</label>
                </div>
            </div>

            <!-- email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>

            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" name="password" type="password" minlength="3"
                        maxlength="16" pattern="^[a-zA-Z0-9]{3,16}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">replay</i>
                    <input id="password2" type="password" minlength="3"
                        maxlength="16" pattern="^[a-zA-Z0-9]{3,16}$" class="validate" required>
                    <label for="password2">Confirm Password</label>
                </div>
            </div>

            <!-- sign up -->
            <div class="row center-align">
                <button type="submit" class="waves-effect waves-light btn cyan lighten-1 black-text" onclick="validatePassword()">Sign Up</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered?
                <a href="{{ url_for('sign_in') }}">Sign In</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}